body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d0e7f9;
    font-family: Arial, sans-serif;
    color: #333;
  }

  .container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  img {
    width: 100px;
    height: auto;
  }

  h2 {
    color: #546e7a;
  }

  small {
    color: #555;
  }

  form {
    margin-top: 20px;
  }

  input[type="text"] {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  button {
    background-color: #546e7a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  button:hover {
    background-color: #78909c;
  }

  a button {
    background-color: transparent;
    color: #546e7a;
    border: 1px solid #546e7a;
    margin-top: 10px;
    width: 50%;
  }

  a button:hover {
    background-color: #546e7a;
    color: white;
    transition: 0.5s;
    width: 60%;
  }